</xmp>

<div class='toc' > <h3 id='titletoc'> Table of Contents </h3> </div>

 {% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/strapdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mathlive.js') }}"></script>
<script src="{{ url_for('static', filename='js/doc.js') }}"></script>

<link rel="stylesheet" href="/static/css/mathlive.core.css">
<link rel="stylesheet" href="/static/css/mathlive.css">


<script>

docstyle()

</script>
