<!DOCTYPE html>
<html>

{% include 'index_head.html' %}

<style>

.dropzone {
top: 200px;
width: 200px;
height: 80px;
min-height: 0px !important;
}

</style>


<body>

{% include 'header_doc_exit.html' %}

<!-- Processing steps :
          file processed,
          steps in processing
          num image
 -->

{% include 'proc_steps.html' %}

{% include 'proc_time.html' %}

{% include 'proc_result.html' %}

{% include 'dropzone.html' %}

{% include 'params_op_temp.html' %}

{% include 'proc.html' %}

{% include 'settings.html' %}

{% include 'hard_soft_infos.html' %}

{% include 'proc_opts.html' %}

{% include 'skipped_images.html' %}

<script>

curr_op = 'nbcells';
curr_meth_track = 'min_dist';

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port );  //+ '/test'

    // socket.on('response', function(msg){alert(msg.data)})

    //-------- Params for operations

    {% include 'params_op.html' %}

    //-------- Params kind track

    {% include 'params_kind_track.html' %}

    //------- Launch the processing

    {% include 'proc_trig.html' %}

    /*
        Refresh the processing steps :
              file processed,
              steps in processing
              num image
    */

    {% include 'proc_steps_refresh.html' %}

    //------- Indicates which file is currently processed

    {% include 'proc_curr_refresh.html' %}

    //------- Refresh proc time

    {% include 'proc_time_refresh.html' %}

    //------- Name of the last processing done..

    {% include 'proc_result_refresh.html' %}

    //--------

    {% include 'settings_actions.html' %}

    {% include 'hard_soft_infos_refresh.html' %}

    {% include 'proc_opts_actions.html' %}

    {% include 'skipped_images_actions.html' %}

});

manage_drop()                                          // manage the Dropzone

$('#refresh').hide()

</script>

   {% include 'footer.html' %}

</body>
</html>
