<!-- Parameters for the number cell counting -->

<div id="params_nbcells" class="params">

     <!-- <h4> Parameters </h4> -->

    <!-- nb fits -->

     <div>
      <label for="nbfits"> nb fits </label>
      <input type="number"  id="nb_fits" name="name" value='0' style="width:30px; margin-left:20px;">
    </div>

    <div>
     <label for="ratio_fit"> ratio fit </label>
     <input type="text"  id="ratio_fit" name="name" value='0.9' style="width:30px; margin-left:20px;">
   </div>

   <!-- fluo -->

    <div class="checkbox col-xs-12" style="margin-left: 10px">
      <span> fluo OTSU </span>
        <h5  style="margin: 0; padding 0;  height:13px">
          <input class="check" id="rfp" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
        </h5>
    </div>

    <!-- graph_nb_cells -->

     <!-- <div class="checkbox col-xs-12" style="margin-left: 10px">
       <span> graph_nb_cells </span>
         <h5  style="margin: 0; padding 0;  height:13px">
           <input class="check" id="graph_nb_cells" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
         </h5>
     </div> -->

</div> <!-- end class params -->
