<div id="op" class="custom-select" style="width:100px;">
    <select id="selectop"  class="selectpicker" >
      <option value="nbcells"> nb cells </option>
      <option value="segm"> segm & track </option>
      <option value="test"> test </option>
    </select>
</div>

{% include 'params_op_nbcells.html' %}
{% include 'params_op_segm.html' %}
{% include 'params_op_test.html' %}

<!-- <div id="general_params" class="custom-select" style="width:100px;">
    <select id="selectop"  class="selectpicker" >
       <option value="save"> saving parameters </option>
    </select>
</div> -->
