<div class="lateral_bar">

<!-- info used in proc_trig.html -->

<!-- inserted in index_folder.html -->

<!-- save folder -->

 <div class="icon_save" > <img id="butt_save_dir" class="icon_settings" src="static/icons/capicon/svg/226.svg"  > </div>
 <div class="addr_save_panel" hidden> <input id='addr_save_text' type='text' > </div>

 <!-- panel set -->

 <div class="icon_set" > <img id="butt_set" class="icon_settings" src="static/icons/capicon/svg/272.svg"  > </div>

    <div class="set_panel" hidden>

    </div>
    <!--  end class set_panel -->

    <div class="icon_infos_hs" > <img id="butt_infos_hs" class="icon_settings" src="static/icons/capicon/svg/007.svg"  > </div>

 </div>
 <!--  end lateral bar -->
